<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyw.diyviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 仪表盘 -->
        <activity android:name=".activities.DashboardActivity" />
        <!-- 水纹球 -->
        <activity android:name=".activities.WaveBallActivity" />
        <!-- 水纹特效 -->
        <activity android:name=".activities.WaterWaveActivity" />
        <!-- 层叠卡片 -->
        <activity android:name=".activities.CardViewActivity" />
    </application>

</manifest>